DATABASE_URL=sqlite:test.db
FEATURE_FLAGS_WEB_PASSWORD=password
FEATURE_FLAGS_WEB_PASSWORD=porterismyfriend
AWS_ENDPOINT_URL_S3=https://fly.storage.tigris.dev
AWS_REGION=auto
AWS_ACCESS_KEY_ID=XXXX
AWS_SECRET_ACCESS_KEY=XXXX
BUCKET_NAME=XXXX
